<div class="main">
   
    <div class="flex-container">
        <h3>{{this.theMeal.name}}</h3><br>
        <div [class.mat-elevation-z3]="true" style="width: 90%; margin: 1rem auto; padding: 1rem;">
            {{this.theMeal.description}}
        </div>
        <div [class.mat-elevation-z3]="true" #selector style="width: 90%; margin: 1rem auto; margin-top: 1rem;">
            <div #option *ngFor="let ingredient of this.theMeal.ingredients">
                <div class="meals">{{ingredient.unitAmount}} {{ingredient.unitLabel || ''}} {{ingredient.name | titlecase}}</div>
            </div>
        </div>
        
    </div>

    <div class="flex-container">
        <h3 style="font-size: 3rem;">Recipe:</h3>
        <br><br>
        <div [class.mat-elevation-z3]="true" style="width: 90%; margin: 0 auto;">
            <div *ngFor="let step of this.theMeal.recipe" style="padding-top: 1rem;">
                <span class="meals">{{step}}</span>
            </div>
        </div>

        <br><br><br>
        <button mat-raised-button color="primary" aria-label="Open" style="width: 140px;margin: 0 auto;">
            <!-- <a routerLink="./"></a>Go Home</a> -->
            <mat-icon style="margin-right: 1rem;">home</mat-icon>
            <a routerLink="">Go Home</a>
        </button>
        <br>


        <!-- <div class="example-container" [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive">
            Example
        </div>

        <button mat-button (click)="isActive = !isActive">Toggle Elevation</button> -->
    </div>

</div>