.ie-header {
    text-align: center;
    font-size: 2.5rem;
    
    font-family: 'Style Script', cursive !important;
   
    padding: 0;
    margin: 0;
}

.selection-list {
    max-height: 300px;
    overflow: auto;
}

h3:hover {
    cursor: pointer;
}

/* ::ng-deep .mat-list-option {
    padding: 0 !important;
    height: 50px;
  } */