<h3 class="ie-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Import / Export</h3>
<br>

<div *ngIf="this.importing == false && this.exporting == false">
    <button mat-menu-item color="primary" (click)="this.importing = true; this.exporting = false;">
        <mat-icon color="primary">file_download</mat-icon>
        <span>Import Data</span>
    </button>

    <button mat-menu-item color="accent" (click)="this.exporting = true; this.importing = false;">
        <mat-icon color="primary">file_upload</mat-icon>
        <span>Export Data</span>
    </button>
</div>

<div *ngIf="this.importing">

    <div>
        <!-- <mat-label>Choose File</mat-label> -->
        <div style="width: 100%;">
            <input #jsonInput hidden="true" type="file" onclick="this.value=null" (change)="this.handleFileInput($event)" accept=".json"/>
            <button mat-flat-button color="primary" (click)="jsonInput.click()" style="transform: translateX(170%);">Upload</button>
        </div>
        <!-- <input type="file" matInput (change)="this.handleFileInput($event)"> -->
        <!-- <div class="form-group">
            <label for="file">Upload File</label>
            <input type="file"
                   id="file"
                   (change)="this.handleFileInput($event)">
        </div> -->
        <br>
        <button mat-menu-item color="primary" (click)="this.uploadFile()" [disabled]="!this.fileToUpload">
            <mat-icon color="primary">file_download</mat-icon>
            <span>Import</span>
            <span *ngIf="this.fileToUpload">&nbsp;-&nbsp;{{this.fileToUpload.name}}</span>
        </button>
    </div>


    <button mat-menu-item color="accent" (click)="this.exporting = false; this.importing = false">
        <mat-icon color="primary">arrow_back</mat-icon>
        <span>Back</span>
    </button>
</div>

<div *ngIf="this.exporting">

    <span>Select Items to export:</span>

    <mat-selection-list class="selection-list" [class.mat-elevation-z3]="true" #selector [(ngModel)]="this.selectedItems" (selectionChange)="this.selectionChange($event)">
       
        <div mat-subheader *ngIf="this.listsToExport.length > 0">Lists</div>
        <mat-divider></mat-divider>

        <mat-list-option #listOption *ngFor="let list of this.listsToExport" [value]="list" style="height: 50px;">
            <mat-icon mat-list-icon>receipt_long</mat-icon>
            <div mat-line>{{list.name | titlecase}}</div>
            <div mat-line>{{list.description | titlecase | slice:0:24}}</div>
        </mat-list-option>

        <mat-divider></mat-divider>
        <div mat-subheader *ngIf="this.mealsToExport.length > 0">Meals</div>
        <mat-divider></mat-divider>

        <mat-list-option #mealOption *ngFor="let meal of this.mealsToExport" [value]="meal" style="height: 50px;">
            <mat-icon mat-list-icon>restaurant</mat-icon>
            <!-- <mat-icon mat-list-icon>fastfood</mat-icon> -->
            <div mat-line>{{meal.name | titlecase}}</div>
            <div mat-line>{{meal.description | titlecase | slice:0:24}}</div>
        </mat-list-option>

    </mat-selection-list>

    <br>

    <button mat-menu-item color="primary" (click)="this.exportData()">
        <mat-icon color="primary">file_upload</mat-icon>
        <span>Export</span>
    </button>

    <br>

    <button mat-menu-item color="accent" (click)="this.exporting = false; this.importing = false">
        <mat-icon color="primary">arrow_back</mat-icon>
        <span>Back</span>
    </button>
</div>