<!-- <form class="example-form"> -->
    <!-- <mat-form-field class="example-full-width"> -->
        <!-- <input type="text" placeholder="Pick one" aria-label="Number" matInput  [matAutocomplete]="auto" (input)="term$.next($event.target.value)"> -->
      <!-- <input type="text" placeholder="Pick one" aria-label="Number" matInput  [matAutocomplete]="auto" (input)="term$.next($event.target)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let match of this.results$ | async" [value]="match">
          {{match}}
        </mat-option>
      </mat-autocomplete>
     </mat-form-field>  -->
<!-- </form> -->


<!-- <div *ngFor="let x of this.results$ | async">
    {{x}}
</div> -->

<!-- <div>
    <button (click)="this.debug()"></button>
</div> -->








<!-- <mat-label>Number</mat-label>
<input type="text"
        placeholder="Pick one"
        matInput
        [matAutocomplete]="auto">
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of this.autoComplete | async" [value]="option">
    {{option}}
    </mat-option>
</mat-autocomplete> -->