<h3 class="unit-header" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>Unit Converter</h3>

<div class="input-line">
    <div class="inpt">
        <mat-label>Amount</mat-label>
        <input autocomplete="off" matInput type="number" required [(ngModel)]="this.fromAmount">
    </div>
    
    <div class="inpt">
        <mat-label>Unit</mat-label>
        <!-- <mat-form-field > -->
            <mat-select (selectionChange)="this.unit1Changed($event)" style="border: 1px solid black;">
                <mat-option *ngFor="let unit of this.enumKeys" [value]="unit">{{this.unitLabels[unit]}}</mat-option>
            </mat-select>
        <!-- </mat-form-field> -->
    </div>
</div>


<div class="input-line" >
    <div class="inpt">
        <mat-label style="margin-right: 1rem;" *ngIf="!this.errored">Amount:</mat-label>
        <div *ngIf="!this.errored" style="overflow: hidden;"><b>{{this.toAmount}}</b></div>

        <div *ngIf="this.errored" style="color: red;">
            Conversion not supported!
        </div>
    </div>
    
    <div class="inpt">
        <mat-label>Unit</mat-label>
        <mat-select (selectionChange)="this.unit2Changed($event)">
            <mat-option *ngFor="let unit of this.enumKeys" [value]="unit">{{this.unitLabels[unit]}}</mat-option>
        </mat-select>
    </div>
</div>



