.example-stretched-tabs {
    /* max-width: 800px; */
    color: black;
}

.example-tab-icon {
    margin-right: 8px;
}

.main-tab-wrapper-large {
    height: 80%;
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    background-color: white;
}

.main-tab-wrapper-mobile {
    height: 82%;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    background-color: white;
}

.background {
    position: absolute;
    margin-top: -1rem;
    z-index: -1;
    background-image: radial-gradient(#ffd740 12%, transparent 0%), radial-gradient(#673ab7 10%, transparent 0%);
    background-color: white;
    background-position: 0 0, 50px 50px;
    background-size: 100px 100px;
    height: 92%;
    width: 100%;
}

:host ::ng-deep .mat-tab-label {
    padding: 0;
}