<div class="new-container animated-bg">
    <div *ngIf="!this.meal && !this.list" class="select-buttons" class="select-home" [class.mat-elevation-z10]="true">
        <!-- [ngStyle]="{'flex-direction': (this.mobileMode) ? 'column' : 'row'}" -->
        <button class="main-btns" style="height: 130px;" mat-raised-button color="primary" (click)="this.onChooseMeal()" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
            <span>New Meal</span><br><br>
            <mat-icon style="font-size: 2rem; height: 2rem; width: 2rem;">restaurant</mat-icon>
        </button>

        <button class="main-btns" style="height: 130px;" mat-raised-button color="accent" (click)="this.onChooseList()" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
            <span>New List</span><br><br>
            <mat-icon style="font-size: 2rem; height: 2rem; width: 2rem;">receipt_long</mat-icon>
        </button>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="this.meal" style="height: 100%;">
        <mat-horizontal-stepper #stepper style="height: 100%; width: 100%; color: blueviolet; padding: 0rem;" [disableRipple]="false" fxLayout="column" fxFlex="100" fxLayoutAlign=" stretch">
            <mat-step [stepControl]="nameFormGroup" errorMessage="Error." class="im-a-mat-stepper">

                <form [formGroup]="nameFormGroup" style="height: 100%; display: flex; flex-direction: column;">
                    <ng-template matStepLabel *ngIf="!this.mobileMode">Basic Info</ng-template>
                    <br><br>
                    <mat-form-field class="input-field">
                        <mat-label>Meal Name</mat-label>
                        <input #nameInput matInput placeholder="Chicken Kiev, Spaghetti & Meatballs, etc." formControlName="name" [(ngModel)]="this.mealName">
                        <mat-hint align="end">{{nameInput.value.length}} / 40</mat-hint>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="input-field">
                        <mat-label>Meal Description</mat-label>
                        <input #descriptionInput matInput placeholder="Describe this meal" formControlName="description" [(ngModel)]="this.mealDescription">
                        <mat-hint align="end">{{descriptionInput.value.length}} / 100</mat-hint>
                    </mat-form-field>
                    <div style="height:100%; justify-content: flex-end; margin-bottom: 1rem; display: flex; flex-direction: column; margin-left: 1rem;">
                        <p style="margin-top: 2rem;">Select 'Next' when you are finished, or choose 'Back' to start over.</p>
                        <div>
                            <button mat-raised-button color="accent" (click)="this.resetFormsAndValues(); this.resetChoice()" style="margin-right: 2rem;" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Reset</button>
                            <!-- <button mat-raised-button color="accent" (click)="this.resetChoice()" style="margin-right: 2rem;" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Back</button> -->
                            <button mat-raised-button color="primary" matStepperNext matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Next</button>
                        </div>
                        <br>
                    </div>
                </form>

            </mat-step>

            <mat-step [stepControl]="ingredientsFormGroup" errorMessage="Error" class="im-a-mat-stepper">
                <ng-template matStepLabel *ngIf="!this.mobileMode">Add Ingredients</ng-template>

                <div class="step-box">
                    <h3 [ngStyle]="{'margin': !this.mobileMode ? '0 0 .5rem 0;' : '1rem 0 2rem 0;'}">{{this.mealName | titlecase}}</h3>

                    <div [ngClass]="{'add-remove': !this.mobileMode, 'add-remove-mobile': this.mobileMode}">
                        <button mat-raised-button aria-label="Remove" (click)="this.removeIngredient()" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
                            <mat-icon>remove_circle</mat-icon>
                            <div *ngIf="!this.mobileMode">Remove Ingredient</div>
                        </button>
                        <button mat-raised-button aria-label="Add" (click)="this.addIngredient()" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
                            <mat-icon>add_circle</mat-icon>
                            <div *ngIf="!this.mobileMode">Add Ingredient</div>
                        </button>
                    </div>


                    <form [formGroup]="ingredientsFormGroup" class="form-flex scroller" style="max-height: 300px;
                    overflow: auto;
                    border: 1px solid red;">
                        <div class="aun-container" style="display: flex;">
                            <div formArrayName="iAmount" style="display: grid; padding-right: 1rem;">
                                <mat-form-field *ngFor="let ingredientAmt of ingredientsFormGroup.get('iAmount')['controls']; let i = index" style="width: 100px;">
                                    <mat-label>Amount</mat-label>
                                    <input matInput type="number" required [formControlName]="i">
                                </mat-form-field>
                            </div>
                            <div formArrayName="iUnit" style="display: grid; padding-right: 1rem;">
                                <mat-form-field *ngFor="let ingredientUnit of ingredientsFormGroup.get('iUnit')['controls']; let i = index" style="width: 100px;">
                                    <mat-label>Unit</mat-label>
                                    <select matNativeControl [formControlName]="i">
                                        <option *ngFor="let unit of this.enumKeys" value="{{this.unitLabels[unit]}}">{{unit}}</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div formArrayName="iSection" style="display: grid; padding-right: 1rem;">
                                <mat-form-field *ngFor="let section of ingredientsFormGroup.get('iSection')['controls']; let i = index" style="width: 100%">
                                    <mat-label>Section</mat-label>
                                    <select matNativeControl [formControlName]="i">
                                        <option *ngFor="let section of this.enumSections" value="{{this.sectionLabels[section]}}">{{this.sectionLabels[section]}}</option>
                                    </select>
                                </mat-form-field>
                            </div>
                            <div formArrayName="iName" style="display: grid;">
                                <mat-form-field *ngFor="let ingredientName of ingredientsFormGroup.get('iName')['controls']; let i = index" style="width: 100%">
                                    <mat-label>Ingredient Name</mat-label>
                                    <input matInput required [formControlName]="i">
                                </mat-form-field>
                            </div>
                            
                        </div>
                    </form>

                    <div class="flex-bottom-buttons" style="margin-left: 1rem;">
                        <p>Go Back, or Select 'Next' when you've entered all your ingredients</p>
                        <div>
                            <button mat-raised-button color="accent" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" (click)="this.resetFormsAndValues(); this.resetChoice()">Reset</button>
                            <button mat-raised-button color="primary" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" (click)="this.stepperGoTo(4)">Next</button>
                            <button mat-raised-button color="primary" matStepperNext matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" [ngStyle]="{'margin-top': !this.mobileMode ? '0rem' : '1rem'}">Recipe (Optional)</button>
                        </div>
                    </div>
                </div>

            </mat-step>

            <mat-step [stepControl]="recipeFormGroup" errorMessage="Error" class="im-a-mat-stepper">
                <ng-template matStepLabel *ngIf="!this.mobileMode">Add Recipe</ng-template>
                <div class="step-box">
                    <h3>{{this.mealName | titlecase}}</h3>

                    <div class="add-remove">
                        <button mat-raised-button aria-label="Remove" (click)="this.removeStep()" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
                            <mat-icon>remove_circle</mat-icon>
                            Remove Step
                        </button>
                        <button mat-raised-button aria-label="Add" (click)="this.addStep()" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
                            <mat-icon>add_circle</mat-icon>
                            Add Step
                        </button>
                    </div>


                    <form [formGroup]="recipeFormGroup" class="form-flex scroller"  style="max-height: 300px;
                    overflow: auto;
                    border: 1px solid red;">
                        <div class="aun-container" style="display: flex;">
                            <div formArrayName="steps" style="display: grid; margin-right: 1rem; width: 100%;">
                                <mat-form-field *ngFor="let step of this.recipeFormGroup.get('steps')['controls']; let i = index" >
                                    <mat-label>Step {{i + 1}}:</mat-label>
                                    <input #recipe matInput type="text" [formControlName]="i">
                                    <mat-hint align="end">{{recipe.value.length}} / 500</mat-hint>
                                </mat-form-field>
                            </div>
                            
                        </div>
                    </form>

                    <div class="flex-bottom-buttons" style="margin-left: 1rem;">
                        <p>Go Back, or Select 'Next' when you've entered all your ingredients</p>
                        <div>
                            <button mat-raised-button color="accent"  style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" (click)="this.resetFormsAndValues(); this.resetChoice()">Reset</button>
                            <button mat-raised-button color="primary" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" (click)="this.stepperGoTo(4)">Next</button>
                            <!-- <button mat-raised-button color="primary"  style="margin-right: 2rem" matStepperNext matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Recipe (Optional)</button> -->
                        </div>
                    </div>
                </div>
                <!-- <div style="height: 100%; border: 1px solid red;">

                </div> -->
            </mat-step>

            <mat-step>
                <ng-template matStepLabel *ngIf="!this.mobileMode">Done</ng-template>
                <div style="display: flex; flex-direction: column; margin-left: 1rem;">
                    <h3>{{this.mealName | titlecase}}</h3>
                    <div style="color: rgba(0,0,0,.87); font-size: 14px; font-weight: 500; margin-bottom: 2rem;">You are now done.</div>
                    <div style="justify-content: flex-end; margin-bottom: 1rem;">
                        <button mat-raised-button color="accent" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" (click)="this.resetFormsAndValues(); this.resetChoice()">Reset</button>
                        <button [disabled]="!this.nameFormGroup.valid || !this.ingredientsFormGroup.valid" mat-raised-button color="primary" (click)="this.resetChoice(); this.addMeal(stepper)" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Finish</button>
                        <button [disabled]="!this.nameFormGroup.valid || !this.ingredientsFormGroup.valid" mat-raised-button color="primary" (click)="this.resetChoice(true); this.addMeal(stepper)" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" [ngStyle]="{'margin-top': !this.mobileMode ? '0rem' : '1rem'}">New Shopping List</button>
                    </div>
                </div>
            </mat-step>

        </mat-horizontal-stepper>
    </div>

    <div *ngIf="this.list" style="height: 100%;">

        <mat-horizontal-stepper #stepper style="height: 100%;" [disableRipple]="false" fxLayout="column" fxFlex="100" fxLayoutAlign=" stretch">
            <mat-step [stepControl]="listNameFormGroup" errorMessage="Error.">
                <ng-template matStepLabel>Basic Info</ng-template>
                <br><br>
                <form [formGroup]="listNameFormGroup" style="height: 100%; display: flex; flex-direction: column;">
                    <ng-template matStepLabel>List Name</ng-template>
                    <mat-form-field class="input-field">
                        <mat-label>Name</mat-label>
                        <input #listNameInput matInput placeholder="Tuesday Dinner, Weekly Trip, etc." formControlName="name" [(ngModel)]="this.listName">
                        <mat-hint align="end">{{listNameInput.value.length}} / 40</mat-hint>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="input-field">
                        <mat-label>Description</mat-label>
                        <input #listDescriptionInput matInput placeholder="Describe this list" formControlName="description" [(ngModel)]="this.listDescription">
                        <mat-hint align="end">{{listDescriptionInput.value.length}} / 100</mat-hint>
                    </mat-form-field>

                    <div style="height:100%; justify-content: flex-end; margin-bottom: 1rem; display: flex; flex-direction: column; margin-left: 1rem;">
                        <p>Select 'Next' when you are finished, or choose 'Back' to start over.</p>
                        <div>
                            <button mat-raised-button color="accent" (click)="this.resetFormsAndValues(); this.resetChoice()" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Reset</button>
                            <button mat-raised-button color="primary" matStepperNext matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Next</button>
                        </div>
                        <br><br>
                    </div>
                </form>

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Add Meals</ng-template>

                <h3>{{this.listName | titlecase}}</h3>

                <div style="height: 70%; overflow: auto;">
                    <mat-selection-list style="margin:0" #pickMeals (selectionChange)="this.mealSelectionChanged(pickMeals.selectedOptions.selected)">
                        <mat-list-option *ngFor="let meal of this.allMeals" [value]="meal.id">
                            {{meal.name}}
                        </mat-list-option>
                    </mat-selection-list>
                </div>

                <p>
                    <b>Meals selected: {{pickMeals.selectedOptions.selected.length}}</b>
                </p>

                <div>
                    <p>Go Back, or Select 'Next' when you've entered all your meals</p>
                    <button mat-raised-button color="accent" (click)="this.resetFormsAndValues(); this.resetChoice()" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Reset</button>
                    <button mat-raised-button color="primary" matStepperNext matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Next</button>
                </div>

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div style="display: flex; flex-direction: column; margin-left: 1rem;">
                    <h3>{{this.listName | titlecase}}</h3>
                    <div style="color: rgba(0,0,0,.87); font-size: 14px; font-weight: 500; margin-bottom: 2rem;">You are now done.</div>
                    <div style="justify-content: flex-end; margin-bottom: 1rem;">
                        <!-- <button mat-raised-button color="accent" matStepperPrevious style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">Back</button> -->
                        <button [disabled]="!this.listNameFormGroup.valid || pickMeals.selectedOptions.selected.length == 0" mat-raised-button color="primary" (click)="this.resetChoice(); this.addList(stepper)" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true"
                            [matRippleRadius]="5">Finish</button>
                        <button [disabled]="!this.listNameFormGroup.valid || pickMeals.selectedOptions.selected.length == 0" mat-raised-button color="primary" (click)="this.resetChoice(true); this.addList(stepper)" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5" [ngStyle]="{'margin-top': !this.mobileMode ? '0rem' : '1rem'}">New Meal</button>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

    </div>

</div>

<!-- <div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div> -->