.text{
    font-size: 1.2rem;
    padding: 1rem;
}

.main {
    padding: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    height: 7rem;
    margin: 0 auto;
}

.main-mobile {
    padding: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.main-btn {
    margin: 1rem;
}