<div style="display: flex;
height: 100%;
width: 100%;
flex-direction: column;" class="animated-bg-slow">

    <div [ngClass]="{'div-big': !this.mobileMode,
    'div-mobile': this.mobileMode}">
        <h3 [ngClass]="this.mobileMode ? 'header-mobile' : 'header-norm'">My Shopping Lists</h3>
        <div style=" width: 90%;
        overflow: auto;
        margin: 0 auto;" [class.mat-elevation-z3]="true" 
        [ngStyle]="{'height': (this.mobileMode) ? 'calc(100% - 100px)' : 'calc(100% - 150px)'}">

            <app-empty-error *ngIf="this.allLists.length == 0" [emptyItem]="'shopping lists'"></app-empty-error>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let list of this.allLists">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{list.name | titlecase}}
                        </mat-panel-title>
                        <mat-panel-description *ngIf="!this.mobileMode">
                            {{list.description | titlecase}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                   
                    <mat-divider></mat-divider>
                    <br>  
                    <div *ngFor="let meal of list.mealObjects;" class="meal">
                        <div *ngIf="meal">{{meal.name | titlecase}}</div>
                    </div>
                    <br><br>
                    <div style="margin-top: 2rem;">
                        <button mat-raised-button color="primary" aria-label="View" style="margin-right: 1rem;">
                            <mat-icon>visibility</mat-icon>
                            <a [routerLink]="['/shoppingList', list.id]">View This List </a>
                        </button>
                        <button mat-raised-button color="warn" aria-label="Remove" (click)="this.popupYesNo(list.id)" style="margin-top: 1rem;">
                            <mat-icon>remove_circle</mat-icon>
                            Remove List
                        </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>