.main {
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* h3 {
    text-align: center;
    
    margin-top: 2rem;
    font-size: 4rem;
    line-height: 4rem;
    font-family: 'Style Script', cursive;
} */

.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.meals {
    font-size: 1rem;
    display: list-item;
    margin-left: 2rem;
    line-height: 2rem;
}

a {
    color: white;
}

@media only screen and (max-width: 860px) {
    .main {
        flex-direction: column;
    }
}

button {
    transition: all .5s ease;
}

button:hover {
    transform: scale(1.2);
}

.checked {
    color: #d0d0d0;
    text-decoration: line-through;
}

.unchecked {
    color: black;
    text-decoration: none;
}

.header-norm {
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
    line-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Style Script', cursive;
    flex: none;
    height: 140px;
    padding: 0;
}

.header-mobile {
    text-align: center;
    /* margin-top: 2rem; */
    font-size: 3rem;
    /* line-height: 4rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Style Script', cursive;
    flex: none;
    height: 80px;
    padding: 0;
    margin: 0;
}