<div *ngIf="!this.chooseMeal && !this.chooseList" class="select-buttons" class="select-home" [class.mat-elevation-z10]="true">
    <button class="main-btns" mat-raised-button color="primary" (click)="this.onChooseMeal()" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
        <span>New Meal</span><br><br>
        <mat-icon style="font-size: 2rem; height: 2rem; width: 2rem;">restaurant</mat-icon>
    </button>

    <button class="main-btns" mat-raised-button color="accent" (click)="this.onChooseList()" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
        <span>New List</span><br><br>
        <mat-icon style="font-size: 2rem; height: 2rem; width: 2rem;">receipt_long</mat-icon>
    </button>
</div>