
<mat-toolbar color="primary" style="display: flex; justify-content: space-between;">
  <span class="head" (click)="this.cleanHomePage()">My Shopper</span>
  <button mat-icon-button class="example-icon" aria-label="Menu" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item disabled (click)="this.popupThemeSwitcher()">
    <mat-icon color="primary">palette</mat-icon>
    <span>Themes (Coming soon)</span>
  </button>
  <button mat-menu-item (click)="this.popupImportExport()">
    <mat-icon color="primary">assessment</mat-icon>
    <!-- <mat-icon color="primary">import_export</mat-icon> -->
    <span>Import/Export Data (Coming soon)</span>
  </button>
  <button mat-menu-item (click)="this.popupUnitConverter()">
    <mat-icon color="primary">swap_horiz</mat-icon>
    <!-- <mat-icon color="primary">settings_ethernet</mat-icon> -->
    <!-- <mat-icon color="primary">compare_arrows</mat-icon> -->
    <span>Unit Converter</span>
  </button>
</mat-menu>