
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Menu" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="head">My Shopper</span>
    <!-- <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Themes (Coming soon)</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Item 2</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Item 3</span>
  </button>
</mat-menu>