<div style="display: flex;
height: 100%;
width: 100%;
flex-direction: column;" class="animated-bg-slow">
    <div [ngClass]="{'div-big': !this.mobileMode,
    'div-mobile': this.mobileMode}">
        <h3 [ngClass]="this.mobileMode ? 'header-mobile' : 'header-norm'">My Meals</h3>

        <!-- <mat-accordion style="flex: 1; overflow: auto; max-height: calc(100vh - 370px);"> -->
        <div style="width: 90%;
        overflow: auto;
        margin: 0 auto;" [class.mat-elevation-z3]="true"
        [ngStyle]="{'height': (this.mobileMode) ? 'calc(100% - 100px)' : 'calc(100% - 150px)'}">
            <app-empty-error *ngIf="this.allMeals.length == 0" [emptyItem]="'shopping lists'"></app-empty-error>
            <mat-accordion>
                <mat-expansion-panel #mep="matExpansionPanel" *ngFor="let meal of this.allMeals" (opened)="this.panelOpened(meal.id)" (closed)="this.panelClosed(meal.id)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">
                                {{meal.name | titlecase}}
                            </div>
                        </mat-panel-title>
                        <mat-panel-description *ngIf="!this.mobileMode">
                            <div style="white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;">
                                {{meal.description | titlecase}}
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div *ngIf="!meal.editing">
                        <div style="display: flex; width: 100%; justify-content: space-evenly;" [ngStyle]="{'flex-direction': (this.mobileMode) ? 'column' : 'row'}">
                            <div  [ngStyle]="{'width': (this.mobileMode) ? '100%' : '30%'}">
                                <div *ngFor="let ingredient of meal.ingredients" class="ingredient">
                                    {{ingredient.unitAmount}} {{ingredient.unitLabel}} {{ingredient.name | titlecase}}
                                </div>
                            </div>
                            <br><br>    
                            <mat-divider></mat-divider>
                            <div  [ngStyle]="{'width': (this.mobileMode) ? '100%' : '70%'}" *ngIf="meal.recipe[0] != ''">
                                <div *ngFor="let step of meal.recipe; let i = index;" style="margin-top: 2rem;">
                                    <div style="text-align: center; font-weight: bold; font-family: 'Style Script', cursive; font-size: 1.5rem; margin-bottom: 0.5rem;">Step {{i+1}}:</div>
                                    <div class="ingredient">{{step}}</div>
                                    <br>
                                </div>
                                <br>
                                <mat-divider></mat-divider>
                            </div>
                        </div>
                        <div [ngClass]="this.mobileMode ? 'edit-window-mobile' : 'edit-window'">
                            <button mat-raised-button color="primary" aria-label="Edit" (click)="this.editMeal(meal.id)" [ngClass]="this.mobileMode ? 'edit-btn-mobile' : 'edit-btn'">
                                <mat-icon>edit</mat-icon>
                                Edit Meal
                            </button>
                            <button mat-raised-button color="accent" aria-label="Edit"  [ngClass]="this.mobileMode ? 'edit-btn-mobile' : 'edit-btn'">
                                <mat-icon>visibility</mat-icon>
                                <a [routerLink]="['/meal', meal.id]" style="color: black;">View Meal </a>
                            </button>
                            <button mat-raised-button color="warn" aria-label="Remove" (click)="this.popupYesNo(meal.id)" [ngClass]="this.mobileMode ? 'edit-btn-mobile' : 'edit-btn'">
                                <mat-icon>remove_circle</mat-icon>
                                Remove Meal
                            </button>
                        </div>
                    </div>

                    <div *ngIf="meal.editing">
                        <form [formGroup]="mealFormGroup">
                            <ng-template matStepLabel>Basic Info</ng-template>
                            <mat-form-field style="width: 300px;">
                                <mat-label>Name</mat-label>
                                <input autocomplete="off" #nameInput matInput placeholder="Chicken Kiev, Spaghetti & Meatballs, etc." formControlName="name" [(ngModel)]="meal.name">
                                <mat-hint align="end">{{nameInput.value.length}} / 40</mat-hint>
                            </mat-form-field>
                            <br>
                            <mat-form-field style="width: 390px;">
                                <mat-label>Description</mat-label>
                                <input autocomplete="off" #descriptionInput matInput placeholder="Describe this meal" formControlName="description" [(ngModel)]="meal.description">
                                <mat-hint align="end">{{descriptionInput.value.length}} / 100</mat-hint>
                            </mat-form-field>
                            <br>
                            <div class="add-remove">
                                <button mat-raised-button aria-label="Remove" (click)="this.removeIngredient()" style="margin-right: 2rem" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
                                    <mat-icon>remove_circle</mat-icon>
                                    Remove Ingredient
                                </button>
                                <button mat-raised-button aria-label="Add" (click)="this.addIngredient()" matRipple [matRippleUnbounded]="true" [matRippleRadius]="5">
                                    <mat-icon>add_circle</mat-icon>
                                    Add Ingredient
                                </button>
                            </div>
                            <!-- <div>
                                <button mat-icon-button aria-label="Remove an ingredient" (click)="this.removeIngredient()">
                                    <mat-icon>remove_circle</mat-icon>
                                </button>
                                <button mat-icon-button aria-label="Add an ingredient" (click)="this.addIngredient()">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                            </div> -->
                            <br>
                            <br>
                            <div class="aun-container">
                                <div formArrayName="iAmount" style="display: grid; margin-right: 1rem; flex: 1;">
                                    <mat-form-field *ngFor="let ingredientAmt of mealFormGroup.get('iAmount')['controls']; let i = index">
                                        <mat-label>Amount</mat-label>
                                        <input autocomplete="off" matInput type="number" required [formControlName]="i">
                                    </mat-form-field>
                                </div>
                                <div formArrayName="iUnit" style="display: grid; margin-right: 1rem; flex: 2;">
                                    <mat-form-field *ngFor="let ingredientUnit of mealFormGroup.get('iUnit')['controls']; let i = index">
                                        <mat-label>Unit</mat-label>
                                        <select matNativeControl required [formControlName]="i">
                                            <option *ngFor="let unit of this.enumKeys" value="{{this.unitLabels[unit]}}">{{unit}}</option>
                                        </select>
                                    </mat-form-field>
                                </div>
                                <div formArrayName="iName" style="display: grid; margin-right: 1rem; flex: 4;">
                                    <mat-form-field *ngFor="let ingredientName of mealFormGroup.get('iName')['controls']; let i = index">
                                        <mat-label>Ingredient Name</mat-label>
                                        <input autocomplete="off" matInput required [formControlName]="i">
                                    </mat-form-field>
                                </div>
                                <br>
                            </div>
                            <div>
                                <button mat-raised-button color="primary" aria-label="Submit" (click)="this.submitEdit(meal.id)" style="margin-top: 2rem; margin-right: 1rem;">
                                    Submit
                                </button>
                                <button mat-raised-button color="accent" aria-label="Cancel" (click)="this.cancelEdit(meal.id)">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>