html,
body {
    height: 100% !important;
    margin: 0;
}

body {
    height: 100% !important;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}

.mat-tab-group {
    min-height: 90%;
    height: 90%;
}

.animated-bg {
    background: linear-gradient(-45deg, #0b3954, white, #bfd7ea, #0CA4A5, white, #f7d0e0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.animated-bg-slow {
    background: linear-gradient(-45deg, #0b3954, white, #bfd7ea, #0CA4A5, #0b3954, white, #f7d0e0, #0b3954);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}